@font-face{
    font-family: "mainTitles";
    src: url("/static/fonts/The\ Constellation.ttf");
}

@font-face{
    font-family: "subtitles";
    src: url("/static/fonts/calibri-bold.ttf");
}

.containerUsers{
    padding: 80px;
}

.titleUsers{
    text-align: center;
    margin-top: 30px;
    color: #8E5A37;
    font-weight: bold;
    font-family: "subtitles";
    font-size: 1.1rem;
}

.contextPage{
    margin-top: 40px;        
    font-size: 1.1rem;
    text-align: justify;
}

.containerAddUser{
    margin-top: 40px;
    text-align: end;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-left: -1%;
}

.containerSubAdd{
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ef8420;    
    opacity: 0.8;
    text-align: center;
    border-radius: 25px;    
}

.containerSubAdd:hover{
    transition: all ease-in-out 0.5s;    
    cursor: pointer;
    opacity: 1;
}

.containerSubAdd a{
    text-decoration: none;    
    font-optical-sizing: auto;    
}

.containerSubAdd h3{
    color: white;
    font-size: large;
    font-weight: bold;
}

.containerTable table{
    margin-top: 50px;
    width: 100%;
    border-collapse: separate;
}

.containerTable thead{
    background-color: #8E5A37;
}

.containerTable thead tr{
    height: 50px;    
    font-size: medium;
    font-weight: bolder;
    font-style: normal;
    color: white;        
}

.containerTable thead th{    
    text-align: center;
}

.imageProduct img{
    width: 120px;
    height: 120px;
}

.containerTable tbody td{
    width: 15%;
    height: 50px;
    text-align: center;
    background-color: rgb(229, 229, 229);    
    font-size: medium;
    font-weight: 400;
    font-style: normal;
    padding: 13px;
}

.optionsFile{
    padding: 25px;
}

.options{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.options:hover{
    color: black;
    transition: all ease-in-out 0.3s;
}

.optionsA a{
    background-color: transparent;
    color: transparent;
}

.clientDelete{
    color: #ff7b8a;    
}

.clientUpdate{
    color: #58b3d6;
    font-weight: bold;
}

@media (max-width: 1400px) {

    .containerUsers{
        padding: 30px;
    }    

    .containerTable table{
        width: 100%;
    }
    
    .containerTable thead tr{
        font-size: smaller;
    }

    .containerTable tbody td{        
        padding: 10px;
        font-size:x-small;
    }
}


@media (max-width:1500px) {
    .containerCartProducts{
        flex-direction: column;
    }

    .containerAllProducts{
        padding: 20px;
    }

    .containerSendProduct{
        width: 100%;
        border: none;
        text-align: center;
        padding-right: 70px;
    }

}

@media (max-width: 767px) {
    .titleUsers{
        font-size: small;
    }

    .contextPage{
        font-size: 1rem;
    }
    
    .containerTable table thead {
        display: none;
    }
    
    .containerTable table tr {
        padding-top: 10px;
        margin-bottom: 0.625em;
        display: block;
        border-bottom: 2px solid #ddd;
        background-color: rgb(229, 229, 229);
        background-color: #8E5A37;
    }
    
    .containerTable table td {
        display: block;
        width: 100%;
        position: relative;
        padding-left: 50%;                         
    }
    
    .containerTable table td::before {
        content: attr(data-label);
        position: absolute;        
        left: 0;
        width: 50%;
        padding-left: 25px;
        font-weight: bold;
        text-align: left;
    }

    .options{
        font-size: 20px;
    }    

    .containerSubAdd h3{
        font-size: 0.9rem;
    }

    .imageProduct img{
        width: 40px;
        height: 35px;
    }

}