@font-face{
    font-family: "mainTitles";
    src: url("../fonts/The Constellation.ttf");
}

@font-face{
    font-family: "subtitles";
    src: url("../fonts/calibri-bold.ttf");
}

.containerUserName{
    display: flex;
    justify-content: end;
    padding-right: 60px;
    padding-top: 20px;
    font-weight: bold;
    font-size: larger;
    color: #8E5A37;
}
.containerUserName span{
    color: #ef8420;
    margin-left: 1%;
}

.sideBar{
    width: 4%;
    top: 40%;
    left: 96%;    
    background-color: #ef8420;
    position: fixed;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 0.9;
    transition: all;
}

.sideBar .iconNet{
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
    color: white;
}

.sideBar:hover{
    background-color:#8E5A37;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.containerBlog{
    background-image: url('../img/backgroundMain.jpg');
    background-repeat: repeat;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;    
}

.titleBlog h1{
    font-family: 'mainTitles';
    color: #8E5A37;
    font-size: larger;
    font-size: 4em;
}

.titleBlog h2{
    font-family: "subtitles";
    color: #8E5A37;
    font-size: 2.5em;
}

.containerFirst{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.contentContainer{
    padding: 35px;
    padding-bottom: 50px;
    background-color: white;
    width: 28%;
    border-top-left-radius: 60px;
    box-shadow: 0px 5px 15px 7px rgb(197, 197, 197);
}

.contentContainer:hover{
    transition: all ease-in-out 0.3s;
    transform: translateY(-3%);
    box-shadow: 0px 5px 15px 7px rgb(169, 169, 169);
}

.contentContainer img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 50px;
}

.contentContainer h6, p{
    color: #8E5A37;
    margin-top: 30px;
    font-weight: bolder;
}

.contentContainer p{
    margin-top: 15px;
}

.containerShow{
    text-align: end;
    margin-top: 40px;
    width: 95%;
}

.containerShow a{
    background-color: #ef8420;
    color: white;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;    
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;
}

.containerShow a:hover{
    opacity: 1;
    transition: all ease-in 0.2s;
}

@media (max-width:1300px) {
    .containerBlog{
        padding: 30px;
    }
}

@media (max-width:900px) {
    .containerBlog{
        padding: 50px;
    }
    
    .titleBlog h1{
        font-size: 2em;
    }

    .titleBlog h2{
        font-size: 2em;
    }

    .containerFirst{
        flex-direction: column;
        margin-top: 0px;
    }

    .contentContainer{
        width: 100%;
        margin-top: 60px;
    }
}