@font-face{
    font-family: "mainTitles";
    src: url("../fonts/The Constellation.ttf");
}

@font-face{
    font-family: "subtitles";
    src: url("../fonts/calibri-bold.ttf");
}

#img_fondo{
    background-image: url('../img/backgroundMain.jpg');
}

.containerUserName{
    display: flex;
    justify-content: end;
    padding-right: 60px;
    padding-top: 20px;
    font-weight: bold;
    font-size: larger;
    color: #8E5A37;
}

.containerUserName span{
    color: #ef8420;
    margin-left: 1%;
}

.iconCarousel{
    background-color: #8E5A37;
    padding: 25px;
    border-radius: 50%;
}

.carousel{
    padding: 20px;
    padding-top: 60px;
}

.acordionProducts{
    padding: 50px;
    padding-top: 30px;
    margin-bottom: -50px;
    background-color: transparent;
}

.acordionProducts .itemAccordion{
    background-color: transparent;
    border: none;
    text-align: center;
}

.acordionProducts .buttonAcordion{
    background-color: #ef8420;
    border: none;
    padding: 10px;
    border-radius: 55px;
    opacity: 0.9;
}

.buttonAcordion:hover{
    opacity: 1;
    transition: all ease-in-out 0.3s;
}

.buttonAcordion i{
    font-size: 3.5rem;
    color: white;
}

.titleAccordion{
    font-family: "subtitles";
    color: #8E5A37;
    margin-top: 30px;
}

.containerProductsAccor{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.containerProductsAccor .itemContainer{
    width: 25%;
    margin-bottom: 50px;
}

.itemContainer h2, h3{
    font-family: "subtitles";
    color: #8E5A37;
    font-size: 1.5rem;
    margin-top: 30px;
}

.containerImage img{
    width: 100%;
    height: 320px;
    border-top-left-radius: 40px;
}

.containerShowMore a{
    padding: 15px;    
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    border: none;
    font-weight: bolder;
    color: white;
    background-color: #ef8420;    
    text-decoration: none;
    opacity: 0.8;
    font-size: 1rem;
}

.containerShowMore a:hover{
    transition: all ease-in-out 0.3s;
    background-color: black;
}

.contactanos{    
    padding: 40px;
    padding-top: 10px;
}

.contactanos h2{
    font-family: "subtitles";
}

.formMessage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
}

.formMessage label{
    display: block;
    text-align: start;
    color: #8E5A37;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 5%;
}

.containerForm{
    margin-top: -80px;
}

.contactanos{
    text-align: center;
    color: #8E5A37;
    margin-top: 100px;
    font-family: 'titulo';
}

.containerInput{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.containerInput i{
    color: #8E5A37;
    text-align: center;
    padding-top: 10px;
    font-size: 2.5em;
}

.containerInput .style{
    width: 100%;
    height: 100%;
    padding-left: 3%;
    margin-left: 3%;
    border-left: 2px solid #8E5A37;
    margin-top: 15px;
}

.style input{
    width: 100%;
    height: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #8E5A37;
    background-color: transparent;
    padding: 10px;
}

.containerInputs{
    width: 40%;
    padding: 50px;
}

.containerText{
    width: 31%;
    margin-top: 10px;
}

.containerText textarea{
    width: 100%;
    margin-top: 20px;
    border-radius: 40px;
    padding: 30px;
}

.containerButton{
    text-align: center;
    margin-top: -60px;
    margin-bottom: 120px;
}

.containerButton input{
    padding: 15px;
    width: 8%;
    border-radius: 30px;
    border: none;
    font-weight: bolder;
    color: white;
    background-color: #ef8420;
}

.containerButton input:hover{
    transition: all ease-in 0.5s;
    background-color: black;
}

@media (max-width: 900px) {
    .formMessage{
        flex-direction: column;
        margin: 30px;
        margin-bottom: 100px;
    }
    
    .containerInputs{
        width: 100%;
    }
    
    .containerText{
        width: 80%;
    }
    
    .containerButton input{
        width: 30%;
    }
    
    .buttonAcordion i{
        font-size: 3rem;
        color: white;
    }

    .containerProductsAccor{
        flex-direction: column;
    }

    .containerProductsAccor .itemContainer{
        width: 100%;
    }
}