{% load static %}

<link rel="stylesheet" href="{% static 'css/sideBar.css' %}">

<div class="sideBar">
    <div class="iconNet">
        <a href="https://www.facebook.com/TejidoFungi?mibextid=kFxxJD" target="_blank" rel="noopener noreferrer" class="iconNet"><i class="bi bi-facebook"></i></a>
    </div>
    <div class="iconNet">
        <a href="https://www.instagram.com/tejidofungi?igsh=MXY4c2R4Zzc3N2xoZg==" target="_blank" rel="noopener noreferrer" class="iconNet"><i class="bi bi-instagram"></i></a>
    </div>
    <div class="iconNet">
        <a href="" target="_blank" rel="noopener noreferrer" class="iconNet"><i class="bi bi-whatsapp"></i></a>
    </div>
</div>